/venv64/
/venv/
/logs/
/Media Libraries/
/.idea/misc.xml
/.idea/vcs.xml
/.idea/modules.xml
/.idea/*
/.idea/dictionaries/*
/scratch proto.txt
/.idea/inspectionProfiles/profiles_settings.xml
/.idea/vlc-controller.iml
/js/node_modules/
/js/package-lock.json
