atomicwrites==1.4.0
attrs==20.3.0
colorama==0.4.4
dataclasses-json==0.5.2
dataclasses-jsonschema==2.13.0
fastjsonschema==2.14.5
iniconfig==1.1.1
jsonschema==3.2.0
marshmallow==3.9.1
marshmallow-enum==1.5.1
mypy==0.790
mypy-extensions==0.4.3
packaging==20.7
parameterized==0.7.4
pluggy==0.13.1
py==1.9.0
pyparsing==2.4.7
pyrsistent==0.17.3
python-dateutil==2.8.1
python-vlc==3.0.11115
six==1.15.0
stringcase==1.2.0
toml==0.10.2
typed-ast==1.4.1
typing-extensions==3.7.4.3
typing-inspect==0.6.0
websockets==8.1
